/*10*/
input, select,
label, button {
    cursor: pointer;
}
/*11*/
option[label] {
    color: gray;
}

/*10*/
select,
/*11*/
input[type=text],
input[type=number] {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}

/*11*/
input[type=checkbox],
input[type=radio] {
    position: relative;
    width: 12px;
    height: 12px;
    border: 1px solid lightgray;
}

/*22*/
input[type=checkbox]:checked:after,
input[type=radio]:checked:after {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    background-color: black;
}

/*11*/
input[type=radio],
/*22*/
input[type=radio]:checked:after {
    border-radius: 50%;
}

/*11*/
input[type=color] {
    width: 100%;
    height: 1.5rem;
}
