@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 320;
}

.wrapper {
    max-width: 1200px;
    background-color: white;
    margin: 30px auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.header {
    padding: 13px 25px 13px 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

.logo-wrap > a {
    display: inline-block;
}

.logo-wrap__logo {
    width: 75px;
    vertical-align: middle;
}

.logo-wrap__heading {
    display: inline;
    vertical-align: middle;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu-wrap {
    display: flex;
    align-items: center;
}

.menu-wrap > .menu {
    display: flex;
    align-items: center;
    font-weight: 370;
}

.menu-wrap .menu__item:not(:last-child) {
    margin-right: 30px;
}

.menu-wrap .menu__item {
    text-transform: uppercase;
}

.menu-wrap .menu__item:hover {
    color: darkred;
}

.main {
    padding: 50px 100px;
}

.info {
    margin-bottom: 50px;
}

.info__item:not(:last-child) {
    margin-bottom: 50px;
}

.info__picture {
    width: 30%;
}

.info__item:nth-child(odd) .info__picture {
    float: left;
}

.info__item:nth-child(even) .info__picture {
    float: right;
}

.products {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
}

.products__item {
    padding: 15px;
    text-transform: lowercase;
    text-align: center;
}

.products__item > *:not(:first-child, :last-child) {
    margin-bottom: 3px;
}

.products__btn {
    text-decoration: underline;
}

.products__btn:hover {
    text-decoration: underline;
    color: darkred;
}