@font-face {
    font-family: 'Orbitron';
    src: url(../fonts/Orbitron/Orbitron-VariableFont_wght.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

/*1*/
html {
    background-color: whitesmoke;
    font-family: 'Rubik', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 16px;
}

/*10*/
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: calc(100vh - 60px);
    margin: 30px auto;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

/*10*/
.header {
    padding: 15px 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
}

/*11*/
.logo-wrap > a {
    display: inline-block;
}

/*10*/
.logo-wrap__logo {
    width: 75px;
    vertical-align: middle;
}

/*10*/
.logo-wrap__heading {
    display: inline;
    vertical-align: middle;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*10*/
.menu-wrap {
    display: flex;
    align-items: center;
}

/*20*/
.menu-wrap > .menu {
    display: flex;
    align-items: center;
    font-weight: 400;
}

/*20*/
.menu-wrap .menu__item {
    text-transform: uppercase;
    cursor: pointer;
}

/*30*/
.menu-wrap .menu__item:not(:last-child) {
    margin-right: 30px;
}

/*30*/
.menu-wrap .menu__item:hover {
    color: darkred;
}

/*10*/
.main {
    flex: 1;
    position: relative;
}

/*10*/
.main-wrapper,
.registration,
.session {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*10*/
.registration, .session {
    align-items: center;
}

/*10*/
.filter {
    flex: 1;
    overflow-y:  auto;
    border-right: 1px solid lightgray;
}

/*10*/
.filter__item {
    padding: 15px;
}

/*20*/
.filter__item:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

/*10*/
.filter__name {
    display: block;
    text-transform: uppercase;
    margin-bottom: 5px;
}

/*10*/
.filter__label {
    display: block;
}

/*10*/
.filter__select {
    width: 100%;
}

/*10*/
.filter__range-input {
    width: 49%;
}

/*10*/
.filter__submit {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    background-color: black;
}

/*10*/
.automobile-list {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 15px 15px 0;
}

/*10*/
.automobile-list__item {
    margin-bottom: 5px;
}

/*10*/
.auto {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px;
}

/*20*/
.auto:hover {
    background: whitesmoke;
    cursor: pointer;
}

/*10*/
.auto__image {
    width: 180px;
}

/*10*/
.auto__info {
    padding-left: 15px;
}

/*20*/
.auto__info > *:not(:last-child) {
    margin-bottom: 5px;
}

/*10*/

.auto__info-key {
    font-weight: bold;
}

/*10*/
.access-form {
    max-width: 30%;
    margin: 0 auto;
}

/*10*/
.access-form__input {
    display: block;
    margin-bottom: 15px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

/*11*/
.access-form__input::placeholder {
    text-transform: uppercase;
    color: gray;
}

/*10*/
.access-form__label {
    display: block;
    margin-bottom: 10px;
}

/*10*/
.access-form__submit {
    border-radius: 5px;
    padding: 7px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

/*20*/
.access-form__submit:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

/*10*/
.footer__text {
    padding: 10px 0;
    border-top: 1px solid lightgray;
    font-size: 0.6rem;
    text-transform: uppercase;
    text-align: center;
}